@import url('https://fonts.googleapis.com/css2?family=Exo&family=Lobster+Two&family=Roboto+Mono&display=swap');

body {
  margin: 0;
  font-family: Exo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


