
   /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Exo;
  } */

  .main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E321BF2;
    margin: 0 auto;
    
  }

  .profile-card{
    position: relative;
    font-family: sans-serif;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 25px 25px;  
  }

  .profile-card:hover{
    border-radius: 10px;
    height: fit-content;
  }

  .profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
  }

  .img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
  }

  .profile-card:hover .img{
    transform: translateY(-50px);
  }

  .profile-card:hover img{
    border-radius: 10px;
  }

  .caption{
    text-align: center;
    transform: translateY(-20px);
    opacity: 0;
    transition: .6s;
    
  }
  .profile-card:hover .caption{
    opacity: 1;
  }
  .caption h3{
    font-size: 21px;
    font-family: sans-serif;
  }
  .caption p{
    font-size: 15px;
    color: #0c52a1;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
    text-align: center;
    
  }

  .caption .social-links a{
    color: #333;
    margin-right: 15px;
    font-size: 21px;
    transition: .6s;
  }

 

  .color-link {
   text-decoration-line: none !important;
   color:#fff !important;
   justify-content: center !important;
   display: inline-block !important;
   margin: 5px;
   padding: 10px;


  }

  .modal-link {
    text-decoration-line: none !important;
   color:#C1E4CF !important;
   margin-left: 15px;


  }
  .modal-link-2 {
    text-decoration-line: none !important;
   color:#C1E4CF !important;
   margin-left: 15px;
   margin-top: 20px;
   

  }
  .log-color-link{
    text-decoration-line: none !important;
    color:#fff !important;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 40px;
  }
  .main-footer {
    background-color: #1f341d ;
    color:#fff ;
    align-items: center;
    padding: 20px;
    /* position:absolute;
   bottom:0;
   width:100%; */
   bottom: 0;
   /* position: fixed; */
   width: 110%;
   

  }

  .login-form {
    display: inline-block;
    padding: 10px;
    
    
  }

  .form-input {
    margin: 10px;
  }

  .s-title {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .sImg {
    margin-left: 20%;
    margin-top: 16%;
  }

  .s-prof {
    margin: 90px auto;
  }
  


  
  
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
